In [4]:
%%capture
%load_ext autoreload
%autoreload 2
import itertools as itt
import os
import sys
import holoviews as hv
import numpy as np
import xarray as xr
from dask.distributed import Client, LocalCluster
from holoviews.operation.datashader import datashade, regrid
from holoviews.util import Dynamic
from IPython.core.display import display
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [5]:
# Importing the custom helper functions
from calcium_behavior_alignment import *

from minian.utilities import (
    TaskAnnotation,
    get_optimal_chk,
    load_videos,
    open_minian,
    save_minian,
)

## Step 0 Initialize Variables

In [6]:
# exp_path = "/scratch/09117/xz6783/minian/Satiation/"
# id_path = "/scratch/09117/xz6783/minian/Satiation/Session Combined/"
# beh_path = "/scratch/09117/xz6783/minian/Behavior_Files/"
experiment = "Satiation Protocol"

exp_path = "/scratch/09656/dhh3/Satiation/"
id_path = "/scratch/09656/dhh3/calcium-behavior-alignment/"
beh_path = "/scratch/09656/dhh3/Behavior_Files/"

minian_path = "."

files = os.listdir(id_path)

animal_ids = [file for file in files if os.path.isdir(os.path.join(id_path, file)) and len(file) == 3 and file[0].isdigit()]

print(len(animal_ids))
animal_ids

16

['4N6',
 '2I5',
 '4B6',
 '5B6',
 '2S5',
 '1H6',
 '7M6',
 '7B6',
 '1I5',
 '1B6',
 '6M6',
 '6S5',
 '2N6',
 '2Z4',
 '8H6',
 '1S5']

In [5]:
# animal_id ="7B6"   #change name for each animal
# minian_path = "."
# dpath = "/scratch/09656/dhh3/Satiation/Session Combined/1B6/"
# minian_ds_path = os.path.join(dpath, "minian")
# intpath = "./minian_intermediate"

# #change for each experiment:
# output_path_spike = r"E:\Xu\Miniscope\PL\Raw Data\Satiation\Session Combined\Spikes"   
# output_path_calcium = r"E:\Xu\Miniscope\PL\Raw Data\Satiation\Session Combined\Calcium"   
# output_path_calcium_hungry = r"E:\Xu\Miniscope\PL\Raw Data\Satiation\Session Combined\Calcium\Hungry"
# output_path_calcium_satiated = r"E:\Xu\Miniscope\PL\Raw Data\Satiation\Session Combined\Calcium\Satiated"

# subset1 = dict(frame=slice(0,23237))
# subset2 = dict(frame=slice(23238, None))



# os.environ["OMP_NUM_THREADS"] = "1"
# os.environ["MKL_NUM_THREADS"] = "1"
# os.environ["OPENBLAS_NUM_THREADS"] = "1"
# os.environ["MINIAN_INTERMEDIATE"] = intpath

In [6]:
# # Set up Initial Basic Parameters#
# minian_path = "."
# dpath = "."
# minian_ds_path = os.path.join(dpath, "minian")
# intpath = "./minian_intermediate"
# subset = dict(frame=slice(0, None))
# subset_mc = None
# interactive = True
# output_size = 100
# n_workers = int(os.getenv("MINIAN_NWORKERS", 30))
# param_save_minian = {
#     "dpath": minian_ds_path,
#     "meta_dict": dict(session=-1, animal=-2),
#     "overwrite": True,
# }

# # Pre-processing Parameters#
# param_load_videos = {
#     "pattern": "[0-9]+\.avi$",
#     "dtype": np.uint8,
#     "downsample": dict(frame=1, height=1, width=1),
#     "downsample_strategy": "subset",
# }
# param_denoise = {"method": "median", "ksize": 7}
# param_background_removal = {"method": "tophat", "wnd": 15}

# # Motion Correction Parameters#
# subset_mc = None
# param_estimate_motion = {"dim": "frame"}

# # Initialization Parameters#
# param_seeds_init = {
#     "wnd_size": 1000,
#     "method": "rolling",
#     "stp_size": 500,
#     "max_wnd": 15,
#     "diff_thres": 3,
# }
# param_pnr_refine = {"noise_freq": 0.06, "thres": 1}
# param_ks_refine = {"sig": 0.05}
# param_seeds_merge = {"thres_dist": 10, "thres_corr": 0.8, "noise_freq": 0.06}
# param_initialize = {"thres_corr": 0.8, "wnd": 10, "noise_freq": 0.06}
# param_init_merge = {"thres_corr": 0.8}

# # CNMF Parameters#
# param_get_noise = {"noise_range": (0.06, 0.5)}
# param_first_spatial = {
#     "dl_wnd": 10,
#     "sparse_penal": 0.01,
#     "size_thres": (25, None),
# }
# param_first_temporal = {
#     "noise_freq": 0.06,
#     "sparse_penal": 1,
#     "p": 1,
#     "add_lag": 20,
#     "jac_thres": 0.2,
# }
# param_first_merge = {"thres_corr": 0.8}
# param_second_spatial = {
#     "dl_wnd": 10,
#     "sparse_penal": 0.01,
#     "size_thres": (25, None),
# }
# param_second_temporal = {
#     "noise_freq": 0.06,
#     "sparse_penal": 1,
#     "p": 1,
#     "add_lag": 20,
#     "jac_thres": 0.4,
# }

# os.environ["OMP_NUM_THREADS"] = "1"
# os.environ["MKL_NUM_THREADS"] = "1"
# os.environ["OPENBLAS_NUM_THREADS"] = "1"
# os.environ["MINIAN_INTERMEDIATE"] = intpath

## Step 1: Parse Scope Times

In [7]:
# Parsing
scope_times = parse_scope_times(exp_path=exp_path,
                               id_path=id_path)

scope_times

{'4N6': {'4N6_2023_06_29_13_41_25':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.032             0
  1                 1           0.019             0
  2                 2           0.069             0
  3                 3           0.119             0
  4                 4           0.169             0
  ...             ...             ...           ...
  89385         89385        4526.979             0
  89386         89386        4527.029             0
  89387         89387        4527.080             0
  89388         89388        4527.131             0
  89389         89389        4527.180             0

  [89390 rows x 3 columns]},
 '2I5': {'2I5_2021_11_11_13_15_09':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.001             0
  1                 1           0.052             0
  2                 2           0.143             0
  3                 3           0.172             0
  4                 4           0.202             0
  ...             ...             ...           ...
  14816         14816         749.797             0
  14817         14817         749.848             0
  14818         14818         749.898             0
  14819         14819         749.948             0
  14820         14820         750.000             0

  [14821 rows x 3 columns],
  '2I5_2021_11_11_14_17_54':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.004             0
  1                 1           0.051             0
  2                 2           0.140             0
  3                 3           0.165             0
  4                 4           0.199             0
  ...             ...             ...           ...
  15111         15111         764.721             0
  15112         15112         764.771             0
  15113         15113         764.822             0
  15114         15114         764.873             0
  15115         15115         764.923             0

  [15116 rows x 3 columns]},
 '4B6': {'4B6_2022_08_31_13_39_26':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.023             0
  1                 1           0.049             0
  2                 2           0.079             0
  3                 3           0.128             0
  4                 4           0.179             0
  ...             ...             ...           ...
  14816         14816         749.773             0
  14817         14817         749.824             0
  14818         14818         749.874             0
  14819         14819         749.926             0
  14820         14820         749.976             0

  [14821 rows x 3 columns],
  '4B6_2022_08_31_15_02_01':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.009             0
  1                 1           0.043             0
  2                 2           0.093             0
  3                 3           0.143             0
  4                 4           0.195             0
  ...             ...             ...           ...
  15027         15027         760.462             0
  15028         15028         760.513             0
  15029         15029         760.564             0
  15030         15030         760.614             0
  15031         15031         760.667             0

  [15032 rows x 3 columns]},
 '5B6': {'5B6_2022_08_31_15_26_07':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.045             0
  1                 1           0.006             0
  2                 2           0.056             0
  3                 3           0.106             0
  4                 4           0.157             0
  ...             ...             ...           ...
  14832         14832         750.560             0
  14833         14833         750.610             0
  14834         14834         750.660             0
  14835         14835         750.711             0
  14836         14836         750.762             0

  [14837 rows x 3 columns],
  '5B6_2022_08_31_16_29_00':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.027             0
  1                 1           0.025             0
  2                 2           0.073             0
  3                 3           0.124             0
  4                 4           0.175             0
  ...             ...             ...           ...
  14785         14785         748.198             0
  14786         14786         748.249             0
  14787         14787         748.300             0
  14788         14788         748.351             0
  14789         14789         748.401             0

  [14790 rows x 3 columns]},
 '2S5': {'2S5_2022_03_09_14_09_06':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.048             0
  1                 1           0.007             1
  2                 2           0.053             0
  3                 3           0.105             0
  4                 4           0.154             0
  ...             ...             ...           ...
  14910         14910         754.508             0
  14911         14911         754.560             0
  14912         14912         754.612             0
  14913         14913         754.663             0
  14914         14914         754.712             0

  [14915 rows x 3 columns],
  '2S5_2022_03_09_15_11_42':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.033             0
  1                 1           0.023             0
  2                 2           0.068             0
  3                 3           0.118             0
  4                 4           0.167             0
  ...             ...             ...           ...
  14710         14710         744.398             0
  14711         14711         744.449             0
  14712         14712         744.499             0
  14713         14713         744.550             0
  14714         14714         744.599             0

  [14715 rows x 3 columns]},
 '1H6': {'1H6_2023_02_15_12_27_16':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.039             0
  1                 1           0.014             0
  2                 2           0.062             0
  3                 3           0.112             0
  4                 4           0.162             0
  ...             ...             ...           ...
  15235         15235         772.030             0
  15236         15236         772.082             0
  15237         15237         772.132             0
  15238         15238         772.182             0
  15239         15239         772.234             0

  [15240 rows x 3 columns],
  '1H6_2023_02_15_11_24_40':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.039             0
  1                 1           0.015             0
  2                 2           0.062             0
  3                 3           0.112             0
  4                 4           0.163             0
  ...             ...             ...           ...
  15500         15500         785.040             0
  15501         15501         785.090             0
  15502         15502         785.140             0
  15503         15503         785.191             0
  15504         15504         785.241             0

  [15505 rows x 3 columns]},
 '7M6': {'7M6_2023_07_06_14_07_35':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.029             0
  1                 1           0.025             0
  2                 2           0.072             0
  3                 3           0.123             0
  4                 4           0.174             0
  ...             ...             ...           ...
  89239         89239        4517.781             0
  89240         89240        4517.832             0
  89241         89241        4517.883             0
  89242         89242        4517.934             0
  89243         89243        4517.984             0

  [89244 rows x 3 columns]},
 '7B6': {'7B6_2022_08_31_16_57_21':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.011             0
  1                 1           0.023             0
  2                 2           0.056             0
  3                 3           0.089             0
  4                 4           0.122             0
  ...             ...             ...           ...
  23233         23233         779.995             0
  23234         23234         780.029             0
  23235         23235         780.062             0
  23236         23236         780.096             0
  23237         23237         780.129             0

  [23238 rows x 3 columns],
  '7B6_2022_08_31_18_00_16':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.024             0
  1                 1           0.029             0
  2                 2           0.076             0
  3                 3           0.128             0
  4                 4           0.178             0
  ...             ...             ...           ...
  14644         14644         741.068             0
  14645         14645         741.117             0
  14646         14646         741.167             0
  14647         14647         741.218             0
  14648         14648         741.269             0

  [14649 rows x 3 columns]},
 '1I5': {'1I5_2021_11_11_11_58_57':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.041             0
  1                 1           0.009             0
  2                 2           0.107             0
  3                 3           0.136             0
  4                 4           0.164             0
  ...             ...             ...           ...
  15112         15112         764.735             0
  15113         15113         764.785             0
  15114         15114         764.836             0
  15115         15115         764.888             0
  15116         15116         764.939             0

  [15117 rows x 3 columns],
  '1I5_2021_11_11_10_56_12':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.015             0
  1                 1           0.086             0
  2                 2           0.119             0
  3                 3           0.149             0
  4                 4           0.186             0
  ...             ...             ...           ...
  14813         14813         749.682             0
  14814         14814         749.731             0
  14815         14815         749.782             0
  14816         14816         749.832             0
  14817         14817         749.883             0

  [14818 rows x 3 columns]},
 '1B6': {'1B6_2022_08_31_12_39_50':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.012             0
  1                 1           0.022             0
  2                 2           0.058             0
  3                 3           0.111             0
  4                 4           0.124             0
  ...             ...             ...           ...
  22782         22782         764.855             0
  22783         22783         764.888             0
  22784         22784         764.921             0
  22785         22785         764.955             0
  22786         22786         764.989             0

  [22787 rows x 3 columns],
  '1B6_2022_08_31_11_37_05':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.006             0
  1                 1           0.028             0
  2                 2           0.084             0
  3                 3           0.097             0
  4                 4           0.128             0
  ...             ...             ...           ...
  22334         22334         749.819             0
  22335         22335         749.853             0
  22336         22336         749.886             0
  22337         22337         749.920             0
  22338         22338         749.953             0

  [22339 rows x 3 columns]},
 '6M6': {'6M6_2023_07_06_12_39_50':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.028             0
  1                 1           0.022             0
  2                 2           0.072             0
  3                 3           0.123             0
  4                 4           0.173             0
  ...             ...             ...           ...
  89079         89079        4520.211             0
  89080         89080        4520.261             0
  89081         89081        4520.311             0
  89082         89082        4520.362             0
  89083         89083        4520.413             0

  [89084 rows x 3 columns]},
 '6S5': {'6S5_2022_03_08_15_04_45':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.043             0
  1                 1           0.017             0
  2                 2           0.062             0
  3                 3           0.107             0
  4                 4           0.161             0
  ...             ...             ...           ...
  14605         14605         739.125             0
  14606         14606         739.174             0
  14607         14607         739.227             0
  14608         14608         739.275             0
  14609         14609         739.326             0

  [14610 rows x 3 columns],
  '6S5_2022_03_08_14_02_12':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.049             0
  1                 1           0.006             1
  2                 2           0.053             0
  3                 3           0.103             0
  4                 4           0.154             0
  ...             ...             ...           ...
  14611         14611         739.372             0
  14612         14612         739.424             0
  14613         14613         739.476             0
  14614         14614         739.525             0
  14615         14615         739.575             0

  [14616 rows x 3 columns]},
 '2N6': {'2N6_2023_07_10_10_25_19':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.021             0
  1                 1           0.033             0
  2                 2           0.082             0
  3                 3           0.132             0
  4                 4           0.183             0
  ...             ...             ...           ...
  89179         89179        4516.451             0
  89180         89180        4516.502             0
  89181         89181        4516.552             0
  89182         89182        4516.603             0
  89183         89183        4516.653             0

  [89184 rows x 3 columns]},
 '2Z4': {'2Z4_2021_09_20_10_14_35':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.032             0
  1                 1           0.026             0
  2                 2           0.069             0
  3                 3           0.123             0
  4                 4           0.169             0
  ...             ...             ...           ...
  14815         14815         749.723             0
  14816         14816         749.767             0
  14817         14817         749.819             0
  14818         14818         749.869             0
  14819         14819         749.920             0

  [14820 rows x 3 columns],
  '2Z4_2021_09_20_11_22_48':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.024             0
  1                 1           0.034             0
  2                 2           0.075             0
  3                 3           0.125             0
  4                 4           0.182             0
  ...             ...             ...           ...
  15111         15111         764.703             0
  15112         15112         764.752             0
  15113         15113         764.803             0
  15114         15114         764.854             0
  15115         15115         764.904             0

  [15116 rows x 3 columns]},
 '8H6': {'8H6_2023_02_15_14_28_41':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.049             0
  1                 1           0.003             0
  2                 2           0.052             0
  3                 3           0.102             0
  4                 4           0.153             0
  ...             ...             ...           ...
  15362         15362         777.581             0
  15363         15363         777.631             0
  15364         15364         777.682             0
  15365         15365         777.733             0
  15366         15366         777.784             0

  [15367 rows x 3 columns],
  '8H6_2023_02_15_13_26_03':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.028             0
  1                 1           0.026             0
  2                 2           0.074             0
  3                 3           0.175             0
  4                 4           0.225             0
  ...             ...             ...           ...
  14955         14955         757.718             0
  14956         14956         757.769             0
  14957         14957         757.820             0
  14958         14958         757.869             0
  14959         14959         757.920             0

  [14960 rows x 3 columns]},
 '1S5': {'1S5_2022_03_08_11_13_36':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.014             0
  1                 1           0.037             0
  2                 2           0.086             0
  3                 3           0.136             0
  4                 4           0.186             0
  ...             ...             ...           ...
  15341         15341         776.403             0
  15342         15342         776.457             0
  15343         15343         776.504             0
  15344         15344         776.555             0
  15345         15345         776.605             0

  [15346 rows x 3 columns],
  '1S5_2022_03_08_10_10_59':        Frame Number  Time Stamp (s)  Buffer Index
  0                 0          -0.038             0
  1                 1           0.018             0
  2                 2           0.061             0
  3                 3           0.112             0
  4                 4           0.164             0
  ...             ...             ...           ...
  14789         14789         748.388             0
  14790         14790         748.437             0
  14791         14791         748.488             0
  14792         14792         748.539             0
  14793         14793         748.589             0

  [14794 rows x 3 columns]}}

## Step 2: Process animal data based on ID

In [8]:
behavior_dict = parse_behavior_times(beh_path=beh_path, experiment=experiment, animal_ids=animal_ids)

In [9]:
behavior_dict['5B6']

,Time (s),Speed (m/s),Freezing,In Food Area,Bar Press active,Miniscope record active,Tone active
0,0.000,NaN,0,0,0,0,0
1,1.023,0.080,0,0,0,0,0
2,1.135,0.089,0,0,0,0,0
3,1.263,0.095,0,0,0,0,0
4,1.391,0.084,0,0,0,0,0
...,...,...,...,...,...,...,...
63824,4559.356,0.047,0,1,0,0,0
63825,4559.484,0.034,0,1,0,0,0
63826,4559.627,0.024,0,1,0,0,0
63827,4559.755,0.022,0,1,0,0,0
63828,4559.883,0.020,0,1,0,0,0

## Step 3: Process spikes and calcium

In [10]:
dpath = os.path.join(id_path, "5B6")
minian_ds_path = os.path.join(dpath, "minian")
minian_ds = open_minian(minian_ds_path)

In [11]:
minian_ds_path

'/scratch/09656/dhh3/calcium-behavior-alignment/5B6/minian'

In [12]:
tracenew_spike, labelsnew_spike, tracenew_calcium, labelsnew_calcium = process_spikes_and_calcium(minian_ds, verbose=True)

Deleted 39 neurons out of the original 68 neurons, 29 neurons remain
Deleted 39 neurons out of the original 68 neurons, 29 neurons remain

## Step 4: Align and Interpolate

In [196]:
# Part of step two 
def test_combine_datasets(scope_times, behavior_data, animal_id, verbose=False):
    """
    Helper function that reads directly from scope_times and behavior, and concatenates scope_time if there are two entires.

    Args:
        scope_times (dict): A dictionary containing scope times for different animal IDs.
        behavior_data (dict): A dictionary containing behavioral data for different animal IDs.
        animal_id (str): The ID of the animal for which data needs to be concatenated.
        verbose (bool): Whether to print verbose output.

    Returns:
        tuple: A tuple containing the concatenated timestamps and behavior datasets.
    """
    # Retrieve the behavior data
    if animal_id in behavior_data:
        # Retrieve indicies in behavior_data where the recording resets
        record_active = behavior_data[animal_id]['Miniscope record active']
        time = behavior_data[animal_id]['Time (s)']
        time_diff = np.where(np.diff(record_active) != 0)[0] + 1
        
        # Section out time_diff into separate recording resets; i.e. if there is an index gap of at these 50, then there is a reset
        # recording_sections is a list of tuples, where each tuple is the (start, end) of a recording
        recording_sections = []
        section_start = time_diff[0]
        
        breaks = time_diff[np.where(np.diff(time_diff)>=50)[0]]
        print(breaks)
        if len(breaks) > 0:
            for break_idx in breaks:
                section_end = break_idx
                if section_end - section_start > 50:
                    recording_sections.append((section_start, section_end))
                section_start = next((idx for idx in time_diff if idx > break_idx), None)
                
        # Append the last (section_start, section_end)
        section_end = time_diff[-1]
        recording_sections.append((section_start, section_end))
                
        ret_behavior = behavior_data[animal_id].copy()

        # Offset ret_Behaviors by the first recording onset
        ret_behavior['Time (s)'] = ret_behavior['Time (s)'] - ret_behavior['Time (s)'].iloc[recording_sections[0][0]]

    else:
        # Just set ret_behavior to None and print an error message
        print(f"Error: No behavior data found for {animal_id}")
        ret_behavior = None
        
    # Check if the number of recording sections matches the scope times sections
    if len(recording_sections) != len(scope_times[animal_id]):
        print(f"Error: Number of recording sections ({len(recording_sections)}) does not match the number of scope times sections ({len(scope_times[animal_id])}) for {animal_id}")


    # Retrieve the timestamps
    if animal_id in scope_times and len(scope_times[animal_id]) > 1:
        # Concatenate datasets, accounting for gaps in recording using behavior miniscope record active.

        # Initialize ret_timestamps to the first timestamps dataset
        first_key = list(scope_times[animal_id].keys())[0]
        ret_timestamps = scope_times[animal_id][first_key].copy()

        for idx in range(1, len(scope_times[animal_id])):
            # Get the current timestamps dataset
            key = list(scope_times[animal_id].keys())[idx]
            timestamps = scope_times[animal_id][key].copy()
            
            # Get the gap based off of the time in behavior data, i.e. start of second part - end of first part
            start_of_next_recording = ret_behavior['Time (s)'].iloc[recording_sections[idx][0]]
            
            # Add the gap to the current timestamps dataset along with end of the previous timestamps dataset
            timestamps['Time Stamp (s)'] += start_of_next_recording

            # Concatenate the current timestamps dataset with the previous timestamps dataset
            ret_timestamps = pd.concat([ret_timestamps, timestamps], ignore_index=True)
    else:
        # Just set ret_timestamps to the singular timestamps dataset
        first_key = list(scope_times[animal_id].keys())[0]
        ret_timestamps = scope_times[animal_id][first_key]

    # Sanity check
    # Check if miniscope recording active - 1 is similar value as concatenated ret_timestamps last value
    if verbose:
        print(f"Combining Data ({animal_id}): Behavior end of recording: {ret_behavior['Time (s)'].iloc[-1] - 1}")
        print(f"Combining Data ({animal_id}): Timestamp last value {ret_timestamps['Time Stamp (s)'].iloc[-1]}")
        print(f"Combining Data ({animal_id}): breaks: {breaks} -> recording sections: {recording_sections}")
        
    return ret_timestamps, ret_behavior

In [13]:
timestamps, behavior = combine_datasets(scope_times, behavior_dict, "4B6", verbose=True)

Combining Data (4B6): Behavior end of recording: 4528.619
Combining Data (4B6): Timestamp last value 4518.2210000000005
Combining Data (4B6): breaks: [20670 30283 40075] -> recording sections: [(220, 20670), (41700, 62236)]

In [14]:
plt.plot(behavior_dict['4B6']['Miniscope record active'])

In [15]:
timestamps

       Frame Number  Time Stamp (s)  Buffer Index
0                 0          -0.023             0
1                 1           0.049             0
2                 2           0.079             0
3                 3           0.128             0
4                 4           0.179             0
...             ...             ...           ...
29848         15027        4518.016             0
29849         15028        4518.067             0
29850         15029        4518.118             0
29851         15030        4518.168             0
29852         15031        4518.221             0

[29853 rows x 3 columns]

In [16]:
behavior

,Time (s),Speed (m/s),Freezing,In Food Area,Bar Press active,Miniscope record active,Tone active
0,-30.130,NaN,0,1,0,1,0
1,-29.197,0.036,0,1,0,1,0
2,-29.085,0.032,0,1,0,1,0
3,-28.957,0.029,0,1,0,1,0
4,-28.829,0.051,0,1,0,1,0
...,...,...,...,...,...,...,...
62318,4529.059,0.014,0,0,0,0,0
62319,4529.187,0.013,0,0,0,0,0
62320,4529.315,0.011,0,0,0,0,0
62321,4529.459,0.012,0,0,0,0,0
62322,4529.619,0.018,0,0,0,0,0

### Spikes

In [17]:
tracealigned, labelsaligned = align_and_interpolate(animal_timestamps=timestamps, 
                                                    animal_behavior=behavior, 
                                                    tracenew=tracenew_spike, 
                                                    labelsnew=labelsnew_spike)

In [18]:
output_path_spike = os.path.join(id_path, "Spikes")

# Save spike
save_trace_and_labels(tracealigned, labelsaligned, output_path_spike, "5B6")

In [19]:
pd.read_pickle('/scratch/09656/dhh3/calcium-behavior-alignment/Spikes/5B6.pkl')

,0,1,2,3,4,5,6,7,8,9,...,29843,29844,29845,29846,29847,29848,29849,29850,29851,29852
2,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
3,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
4,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
6,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
10,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
11,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
29,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
16,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
17,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
18,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
26,0.00,0.000,0.000,29.119054,201.256147,180.498559,155.365872,127.305229,97.916343,65.179220,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
22,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
23,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
25,0.00,0.000,0.000,246.267851,356.115873,309.336310,256.431998,200.511499,144.732582,10.550773,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
27,0.00,0.000,0.000,6.914468,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
34,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
33,0.00,0.000,0.000,0.000000,0.000000,0.000000,8.395851,56.532640,7.039766,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
35,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
36,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
43,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
44,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
45,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
46,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
49,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
53,0.00,0.000,0.000,315.808755,315.348756,284.559205,246.970811,204.910074,160.897320,117.468148,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
57,0.00,0.000,0.000,0.000000,106.830137,107.010323,89.387360,70.703474,52.127557,34.761550,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
58,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
59,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
65,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
Time (s),-30.13,-30.081,-30.051,-30.002000,-29.951000,-29.900000,-29.850000,-29.799000,-29.748000,-29.697000,...,4487.634000,4487.684,4487.735,4487.786000,4487.837000,4487.886,4487.937000,4487.988,4488.038000,4488.091000
Speed (m/s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007000,0.007,0.002,0.002000,0.001742,0.001,0.000879,0.000,0.000000,0.000000
Freezing,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
In Food Area,1.00,1.000,1.000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
Bar Press active,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000
Miniscope record active,1.00,1.000,1.000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.085714,0.800,0.100,0.828571,0.000000,0.650,0.000000,0.000,0.058824,0.838235
Tone active,0.00,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000

### Calcium

In [161]:
tracealigned, labelsaligned = align_and_interpolate(animal_timestamps=timestamps, 
                                                    animal_behavior=behavior, 
                                                    tracenew=tracenew_calcium, 
                                                    labelsnew=labelsnew_calcium)

tracenew shape(29927, 139)
Cue(29937,)
Bar(29937,)
CATIME(29937,)
ENTERED PADDING
tracenew_padded:(29937, 139)

In [163]:
output_path_calcium = os.path.join(id_path, "Calcium")

# Save calcium
save_trace_and_labels(tracealigned, labelsaligned, output_path_calcium, "2IH")

## Try Main Execute on All Animal IDs

In [20]:
execute(exp_path=exp_path, id_path=id_path, beh_path=beh_path, experiment=experiment, num_processes=1, verbose=True)

Experiment path: /scratch/09656/dhh3/Satiation/
Id path: /scratch/09656/dhh3/calcium-behavior-alignment/
Behavior path: /scratch/09656/dhh3/Behavior_Files/
Found 16 animal IDs
Animal IDs: dict_keys(['4N6', '2I5', '4B6', '5B6', '2S5', '1H6', '7M6', '7B6', '1I5', '1B6', '6M6', '6S5', '2N6', '2Z4', '8H6', '1S5'])
Found 12 animal IDs with two entries
Found 4 animal IDs with one entry
Erronous animal IDs: None
Processing and aligning 16 animal IDs with 1 process(es)


Processing animal ID 4N6
Minian dataset path /scratch/09656/dhh3/calcium-behavior-alignment/4N6/minian not found for animal ID 4N6


Processing animal ID 2I5
Combining Data (2I5): Behavior end of recording: 4528.804
Combining Data (2I5): Timestamp last value 4529.924
Combining Data (2I5): breaks: [20641] -> recording sections: [(221, 20641), (43236, 64022)]
Saved 2I5 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 2I5 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 2I5


Processing animal ID 4B6
Combining Data (4B6): Behavior end of recording: 4528.619
Combining Data (4B6): Timestamp last value 4518.2210000000005
Combining Data (4B6): breaks: [20670 30283 40075] -> recording sections: [(220, 20670), (41700, 62236)]
Saved 4B6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 4B6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 4B6


Processing animal ID 5B6
Combining Data (5B6): Behavior end of recording: 4528.169
Combining Data (5B6): Timestamp last value 4520.635
Combining Data (5B6): breaks: [20684 21667 38916] -> recording sections: [(221, 20684), (43477, 63763)]
Saved 5B6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 5B6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 5B6


Processing animal ID 2S5
Combining Data (2S5): Behavior end of recording: 4528.093999999999
Combining Data (2S5): Timestamp last value 4500.769
Combining Data (2S5): breaks: [19182] -> recording sections: [(188, 19182), (35890, 55277)]
Saved 2S5 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 2S5 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 2S5


Processing animal ID 1H6
Combining Data (1H6): Behavior end of recording: 4528.704
Combining Data (1H6): Timestamp last value 4541.245
Combining Data (1H6): breaks: [21574 21746 41700] -> recording sections: [(222, 21574), (44280, 65316)]
Saved 1H6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 1H6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 1H6


Processing animal ID 7M6
Combining Data (7M6): Behavior end of recording: 4528.607999999999
Combining Data (7M6): Timestamp last value 4517.984
Combining Data (7M6): breaks: [] -> recording sections: [(227, 123131)]
Saved 7M6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 7M6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 7M6


Processing animal ID 7B6
Combining Data (7B6): Behavior end of recording: 4528.21
Combining Data (7B6): Timestamp last value 4516.012
Combining Data (7B6): breaks: [29355] -> recording sections: [(230, 29355), (51613, 71730)]
Saved 7B6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 7B6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 7B6


Processing animal ID 1I5
Combining Data (1I5): Behavior end of recording: 4528.826
Combining Data (1I5): Timestamp last value 4514.901
Combining Data (1I5): breaks: [20648] -> recording sections: [(222, 20648), (43654, 64204)]
Saved 1I5 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 1I5 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 1I5


Processing animal ID 1B6
Combining Data (1B6): Behavior end of recording: 4528.795
Combining Data (1B6): Timestamp last value 4514.950999999999
Combining Data (1B6): breaks: [28298] -> recording sections: [(172, 28298), (48057, 72471)]
Saved 1B6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 1B6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 1B6


Processing animal ID 6M6
Combining Data (6M6): Behavior end of recording: 4528.282999999999
Combining Data (6M6): Timestamp last value 4520.413
Combining Data (6M6): breaks: [] -> recording sections: [(237, 123130)]
Saved 6M6 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 6M6 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 6M6


Processing animal ID 6S5
Combining Data (6S5): Behavior end of recording: 4519.355
Combining Data (6S5): Timestamp last value 4492.477
Combining Data (6S5): breaks: [20085] -> recording sections: [(279, 20085), (42612, 62660)]
Saved 6S5 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 6S5 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 6S5


Processing animal ID 2N6
Minian dataset path /scratch/09656/dhh3/calcium-behavior-alignment/2N6/minian not found for animal ID 2N6


Processing animal ID 2Z4
Combining Data (2Z4): Behavior end of recording: 4528.854
Combining Data (2Z4): Timestamp last value 4529.9529999999995
Combining Data (2Z4): breaks: [20555] -> recording sections: [(215, 20555), (43088, 63245)]
Saved 2Z4 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 2Z4 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 2Z4


Processing animal ID 8H6
Minian dataset path /scratch/09656/dhh3/calcium-behavior-alignment/8H6/minian not found for animal ID 8H6


Processing animal ID 1S5
Combining Data (1S5): Behavior end of recording: 4528.848
Combining Data (1S5): Timestamp last value 4505.0830000000005
Combining Data (1S5): breaks: [19553] -> recording sections: [(210, 19553), (37949, 54576)]
Saved 1S5 Calciums to /scratch/09656/dhh3/calcium-behavior-alignment/Calcium
Saved 1S5 Spikes to /scratch/09656/dhh3/calcium-behavior-alignment/Spikes
Successfully aligned animal ID 1S5
Successfully processed and aligned 13 animal IDs: ['2I5', '4B6', '5B6', '2S5', '1H6', '7M6', '7B6', '1I5', '1B6', '6M6', '6S5', '2Z4', '1S5']
Failed to process and align 3 animal IDs: ['4N6', '2N6', '8H6']

[(False, '4N6'),
 (True, '2I5'),
 (True, '4B6'),
 (True, '5B6'),
 (True, '2S5'),
 (True, '1H6'),
 (True, '7M6'),
 (True, '7B6'),
 (True, '1I5'),
 (True, '1B6'),
 (True, '6M6'),
 (True, '6S5'),
 (False, '2N6'),
 (True, '2Z4'),
 (False, '8H6'),
 (True, '1S5')]